:root {
    --clr-primary:rgb(89, 91, 128);
    --clr-light: rgb(239, 233, 243);
    --clr-dark: #333;
    --clr-warning: rgb(99, 36, 36);
  }
  
  *,
  *::before,
  *::after {
    font-family: inherit;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: var(--clr-primary);
    color: var(--clr-light);
    display: grid;
    grid: "header header header header" auto 
    "...... lists  active ......" auto/
    1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
  }

  .title {
      grid-area: header;
      text-align: center;
      font-size: calc(7vw+2rem);
      font-weight: 900;
      color:rgba(0, 0, 0, 0.2);
      letter-spacing: 2px;
      margin: -0.3em, 0, 0,5em;
  }

  .all-tasks {
      grid-area: lists;
  }

  .task-list {
      font-size: 1.2rem;
      line-height: 1.7;
      list-style: circle;
      padding-left: 1.1em;
  }

  .list-name {
      cursor:pointer;
  }
  
  .list-name:hover {
      opacity: 0.7;
  }

  form{
      display: flex;
  }
  .btn {
      cursor: pointer;
      background: 0;
      border: 0;
      padding: 0;
      color: inherit;

  }

  .btn.create {
      font-size: 1.5rem;
      font-weight: 900;
      margin-right: 0.25rem;
  }

  .btn.delete {
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.6;
    font-size: 1rem;
    transition: 150ms;
}

.btn.delete:hover {
    color: var(--clr-warning);
}

  .btn.create:hover {
      opacity: 0.7;
  }

  .new {
      background: transparent;
      border: 0;
      border-bottom: 1px solid currentColor;
      font-size: inherit;
      outline: none;
      padding: .25em;

      transition: border-bottom 150ms ease-in;
      order: 2;
  }

  .new:focus::placeholder {
      opacity: 0.4;

  }

  .new.list {
      font-size: 1.2rem;

  }

  .new:focus{
      border-bottom-width: 3px;

  }
  .new:focus::placeholder {
      opacity: 0.5;
  }


  .active-list{
      font-weight: 700;

  }
  .new.task {
      margin-bottom: 0;
  }


  .todo-list {
      --spacer: 2rem;

      grid-area: active;
      background: var(--clr-light);
      color: var(--clr-dark);
  }

  .todo-header {
      
    padding: var(--spacer);
    background: #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .list-title {
      margin:0 1em 0 0 ;
  }

  .task-count {
      margin: 0;
      font-size: 1rem;

  }

  .todo-body {
      padding: var(--spacer);
      position: relative;
  }


  .new-task-creator .create {
      color: var(--clr-primary);
  }
  [type="checkbox"] {
      opacity: 0;
      position: absolute;
  }

  .task label {
      display: inline-flex;
      align-items: center;
      position:relative;
      margin-bottom: 1.5em;
  }

  .task:after {
      content: "";
      position: absolute;
      right:0;
      left:0;
      bottom: 50%;
      height: 2px;
      background: currentColor;
      opacity:0.2;
      width: 100%;
  }
  .task {
      position: relative;
  }

  .custom-check-box {
      --size: 0.75em;
      display: inline-block;
      width: var(--size);
      height: var(--size);
      margin-right: var(--size);
      cursor: pointer;
      border: 2px solid currentColor;
      border-radius: 50%;
      transform: scale(1);
      transition: transform 200m ease-in-out;
  }

  .task:hover .custom-check-box,
  [type="checkbox"]:focus + label .custom-check-box {
      transform: scale(1.2);
      color: var(--clr-primary);
  }

  [type="checkbox"]:checked + label .custom-check-box {
      background: var(--clr-primary);
      border-color: var(--clr-primary);
      box-shadow: inset 0 0 0px 2px white;
  }

  [type="checkbox"]:checked + label {
      opacity: 0.5;
  }

  .task label:after {
      content: "";
      position: absolute;
      left:1.5em;
      right: 0;
      height: 3px;
      background: currentColor;
      transform: scaleX(0);
      transform-origin: left;
      transition: 170ms ease-in-out;

  }

  [type="checkbox"]:checked + label::after {
    opacity: 0.5;
    transform: scaleX(1);
    transform-origin: right;

}

.delete-stuff {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width:100%;
    left: 0;
    bottom: -35px;
    color: var(--clr-light);
}

