<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Todo list</title>
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700,900&display=swap" rel="stylesheet" />
</head>

<body>
  <h1 class="title">Things to do</h1>

  <div class="all-tasks">
    <h2 class="task-list-title">My lists</h2>
    <ul class="task-list" data-lists></ul>

    <form action="" data-new-list-form>
      <input type="text" class="new list" data-new-list-input placeholder="new list name" aria-label="new list name" />
      <button class="btn create" aria-label="create new list">+</button>
    </form>
  </div>

  <div class="todo-list" data-list-display-container>
    <div class="todo-header">
      <h2 class="list-title" data-list-title>Default</h2>
      <p class="task-count" data-list-count></p>
    </div>

    <div class="todo-body">
      <div class="tasks" data-tasks>
        <div class="task"><input type="checkbox" id="1585349602255"> <label for="1585349602255"><span
              class="custom-checkbox"></span>just delete this list</label></div>
      </div>

      <div class="new-task-creator">
        <form action="" data-new-task-form>
          <input type="text" data-new-task-input class="new task" placeholder="new task name" id="newTaskName"
            aria-label="new task name" />

        </form>
        <textarea id="description" rows="4" cols="50"></textarea>
        <input type="date" id="date" name="date">
        <select id="priority">
          <option value="HIGH" class='high'>HIGH</option>
          <option value="MEDIUM" class='medium'>MEDIUM</option>
          <option value="LOW" class='low'>LOW</option>
        </select>
        <button class="btn create" id="addTask" aria-label="create new task">+ Add Task</button>
        <button class="btn create hide" id="updateTask" aria-label="update task">Update Task</button>
      </div>


      <div class="delete-stuff">
        <button class="btn delete" data-clear-complete-tasks-button>Clear completed tasks</button>
        <button class="btn delete" data-delete-list-button>Delete list</button>
      </div>
    </div>
  </div>


  </div>
  <template id="task-template">
    <div class="task">
      <input type="checkbox" />
      <label data-label>
        <span class="custom-checkbox"></span>
        <span class='labelName' label-name></span>
        <span class='labelDesc' label-description></span>
        <span class='labelDate' label-date></span>
        <span class='labelPrior' label-priority></span>
      </label>
    </div>
  </template>
</body>

</html>