:root {
  --clr-primary: #26464F;
  --clr-light: #f4f4f4;
  --clr-dark: #26464F;
  --clr-warning: rgb(99, 36, 36);
}
*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  background-color: var(--clr-primary);
  color: var(--clr-light);
  display: grid;
  grid:
    'header header header header' auto '...... lists  active ......' auto/1fr minmax(
      100px,
      300px
    )
    minmax(250px, 500px) 1fr;
}

.title {
  grid-area: header;
  text-align: center;
  font-size: calc(7vw + 2rem);
  font-weight: 900;
  color: rgba(184, 58, 146, 0.678);
  letter-spacing: 2px;
  margin: 5px;
  margin-bottom: 40px;
}

.all-tasks {
  grid-area: lists;
}

.task-list {
  font-size: 1.2rem;
  line-height: 1.7;
  list-style: circle;
  padding-left: 1.1em;
}

.list-name {
  cursor: pointer;
}

.list-name:hover {
  opacity: 0.7;
}

form {
  display: flex;
}

.btn {
  cursor: pointer;
  background: 0;
  border: 0;
  padding: 0;
  color: inherit;
}

.btn.create {
  font-size: 22px;
  font-weight: 900;
  transition: opacity 250ms ease-in;
  color: #c2e3d9;
}

.btn.create:hover {
  opacity: 0.7;
}

#addTask {
  margin-left: 18px;
  margin-top: 18px;
}

.btn.delete {
  opacity: 0.7;
  font-size: 1rem;
  transition: color 200ms;
}

.btn.delete:hover {
  color: var(--clr-warning);
}

.btn.delete.clear {
  opacity: 0.7;
  font-size: 18px;
  transition: color 200ms;
  color: #ffddb0;
}

.btn.delete.deletelist {
  opacity: 0.7;
  font-size: 18px;
  transition: color 200ms;
  color: #99413c;
}

.btn.delete.clear:hover {
  color: #ffff66;
}

.btn.delete.deletelist:hover {
  color: #ff1919;
}

h2.list-title {
  color: #303a43;
}

.new {
  background: transparent;
  border: 0;
  color: inherit;
  border-bottom: 1px solid currentColor;
  font-size: inherit;
  outline: none;
  padding: 0.25em;
  transition: border-bottom 150ms ease-in;
  order: 2;
}

.new::-webkit-input-placeholder {
  opacity: 0.4;
}

.new:-ms-input-placeholder {
  opacity: 0.4;
}

.new::-ms-input-placeholder {
  opacity: 0.4;
}

.new::placeholder {
  opacity: 0.4;
}

.new:focus {
  border-bottom-width: 3px;
}

.new:focus::-webkit-input-placeholder {
  opacity: 0.15;
}

.new:focus:-ms-input-placeholder {
  opacity: 0.15;
}

.new:focus::-ms-input-placeholder {
  opacity: 0.15;
}

.new:focus::placeholder {
  opacity: 0.15;
}

.new.list {
  font-size: 1.1rem;
}

.new.task {
  margin-bottom: 0;
}

.new.task.description {
  margin-left: 10px;
}

.active-list {
  font-weight: 700;
}

.todo-list {
  --spacer: 2rem;
  grid-area: active;
  background: var(--clr-light);
  color: var(--clr-dark);
  width: 700px;
  border-radius: 20px;
  margin-left: 25px;
  background-color: #e6f5f4;
}

.todo-header {
  padding: var(--spacer);
  background-color: #ABAC97;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 700px;
  border-radius: 20px;
}

.list-title {
  margin: 0 1em 0 0;
}

.task-count {
  margin: 0;
  font-size: 1rem;
}

.todo-body {
  padding: var(--spacer);
  position: relative;
  border-radius: 20px;
}

.new-task-creator .create {
  color: var(--clr-primary);
}

[type='checkbox'] {
  opacity: 0;
  position: absolute;
}

.task label {
  display: flex-inline;
  align-items: center;
  position: relative;
}

.task {
  position: relative;
  margin-bottom: 1.25em;
}

.task::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: -0.5em;
  height: 1px;
  background: currentColor;
  opacity: 0.1;
}

.custom-checkbox {
  --size: 0.75em;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  margin-right: var(--size);
  cursor: pointer;
  border: 2px solid currentColor;
  border-radius: 50%;
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.task:hover .custom-checkbox,
[type='checkbox']:focus + label .custom-checkbox {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  color: var(--clr-primary);
}

[type='checkbox']:checked + label .custom-checkbox {
  background: #307e91;
  border-color: #307e91;
  box-shadow: inset 0 0 0px 2px white;
}

[type='checkbox']:checked + label {
  opacity: 0.5;
}

.task label::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  left: 1.5em;
  top: 50%;
  height: 3px;
  background: currentColor;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right;
  transform-origin: right;
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

[type='checkbox']:checked + label::after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left;
  transform-origin: left;
}

#description {
  margin-top: 20px;
  margin-left: -2px;
  width: 100%;
  height: 100px;
  border-radius: 10px;
}

#date {
  margin: 11px;
  border-radius: 5px;
}

#priority {
  border-radius: 5px;
  width: 120px;
  background-color: #cfdcdb;
}

.hide {
  display: none;
}

.delete-stuff {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -35px;
  color: var(--clr-light);
}


.labelName {
  color: rgba(209, 16, 151, 0.678);
  font-weight: bold;
  /* background-color: rgba(184, 58, 146, 0.678); */
  opacity: 0.6;
  border-radius: 5px;
}

.labelDesc {
  color: #919283;
  font-size: 18px;
}

.labelDate {
  color: #1d5847;
  font-size: 16px ;
}

.task .labelPrior {
  color:rgba(184, 58, 146, 0.678);
  font-size: 16px;
}
